.landing-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: center;
        text-align: justify;
        padding: 10px;
    }
    h1 {
        padding: 10px;
    }
}

@media screen and (min-width: 800px) {
    .landing {
            img {
            width: 300px;
            }
        }
    .nav-bar {flex-direction: row;}
    }
