.projects {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    li {
        padding-bottom: 15px;
        padding-top: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
    }
}

.project-cards {
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.resume {
    border: 2px solid $border-color;
    background-color: rgb(129, 77, 153);
    color: $border-color;
    padding: 5px;
    border-radius: 30px;
}

.resume:hover,
.resume:active {
    background-color:rgb(88, 41, 109);
}

@media screen and (min-width: 800px) {
    .projects {
            img {
            width: 600px;
            }
        }
    .nav-bar {flex-direction: row;}
    }